@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: blue;
    color: blanchedalmond;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: "Playwrite GB S", cursive;
}
nav li{
    list-style-type: none;
}